section.about-section
  .wrapper
    .about-section__container
      h2.about-section__title-mobile.font-w-black.font-s-36
        | Создали лучшее место 
        br.no-br
        | для образования детей
      img.about-section__img(src="images/about-section-img.jpg" loading="lazy" width="852" height="1144" alt="image")
      .about-section__box
        h2.about-section__title.font-w-black.font-s-36
          | Создали лучшее место 
          br.no-br
          | для образования детей
        .about-section__text
          .about-section__text-item.font-w-medium.font-s-18
            | «Меня зовут Даниэль. Я — мама пятерых детей, от 5 до 13 
            br.no-br-xxl
            | лет. Качественное образование детей — важный вопрос, 
            br.no-br-xxl
            | который является приоритетным для меня. Мои дети не 
            br.no-br-xxl
            | ходили в детский сад, вместо этого они занимались с няней 
            br.no-br-xxl
            | английским языком, готовились к школе с соседскими 
            br.no-br-xxl
            | детьми в мини группе и активно занимались спортом.
          .about-section__text-item.font-w-medium.font-s-18
            | Свой опыт домашнего обучения я перенесла в центр развития 
            br.no-br-xxl
            | «BIG BOSS», где собрала самые передовые обучающие 
            br.no-br-xxl
            | программы по таким направлениям как: развивающий мини-
            br.no-br-xxl
            | сад, комплексная подготовка к школе, ментальная арифметика, 
            br.no-br-xxl
            | осознанное чтение, английский язык, олимпиадная математика, 
            br.no-br-xxl
            | шахматы, живопись и многое другое.
          .about-section__text-item.font-w-medium.font-s-18
            | За 4 года существования Big Boss мы научились создавать 
            br.no-br-xxl
            | лучшее качество для клиентов, овладели техниками быстрого 
            br.no-br-xxl
            | набора групп и удержания клиентов, создали свои авторские 
            br.no-br-xxl
            | программы. А сейчас готовы делиться своим опытом с 
            br.no-br-xxl
            | другими предпринимателями!»
      .about-section__bottom
        //- img.about-section__bottom-img(src="images/about-section-bottom-bg.png" loading="lazy" width="1678" height="1376" alt="image")
        .font-w-extra-bold.font-s-30.text-center
          | Буду рада ответить на ваши 
          br.no-br
          | вопросы о работе франшизы
        form.about-section__form(data-feedback-form)
          input.input.input--secondary.about-item(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input.input--secondary.about-item(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          textarea.input.input--textarea(type="text" name="answer" autocomplete="off" placeholder="Текст вопроса")
          button.btn.btn--secondary.about-item-btn(type="submit") Задать вопрос
