section.details-section
  .wrapper
    .details-section__container
      img.details-section__icon(src="images/details-section-icon.svg" loading="lazy" width="1059" height="259" alt="icon")
      .swiper-details
        .details-section__cards.swiper-wrapper
          .details-section__card.swiper-slide
            .font-w-medium.font-s-18.text-center.color-text
              | Помогаем найти 
              br.no-br-xxl
              | лучшее помещение 
              br.no-br-xxl
              | для клуба
          .details-section__card.swiper-slide
            .font-w-medium.font-s-18.text-center.color-text
              | Даем рекомендации 
              br.no-br-xxl
              | по его ремонту 
              br.no-br-xxl
              | и оформлению
          .details-section__card.swiper-slide
            .font-w-medium.font-s-18.text-center.color-text
              | Проводим подробное 
              br.no-br-xxl
              | обучение для вас 
              br.no-br-xxl
              | и сотрудников
          .details-section__card.swiper-slide
            .font-w-medium.font-s-18.text-center.color-text
              | Предоставляем 
              br.no-br-xxl
              | методические 
              br.no-br-xxl
              | материалы для 
              br.no-br-xxl
              | работы
          .details-section__card.swiper-slide
            .font-w-medium.font-s-18.text-center.color-text
              | Помогаем 
              br.no-br-xxl
              | организовать работу 
              br.no-br-xxl
              | маркетинга
          .details-section__card.swiper-slide
            .font-w-medium.font-s-18.text-center.color-text
              | Предоставляем 
              br.no-br-xxl
              | фирменные рекламные 
              br.no-br-xxl
              | материалы
          .details-section__card.swiper-slide
            .font-w-medium.font-s-18.text-center.color-text
              | Делимся секретами 
              br.no-br-xxl
              | взаимодействия 
              br.no-br-xxl
              | с клиентами
          .details-section__card.swiper-slide
            .font-w-medium.font-s-18.text-center.color-text
              | Добавляем в 
              br.no-br-xxl
              | закрытое сообщество 
              br.no-br-xxl
              | партнеров сети
        .details-pagination.swiper-progress-details
      .details-section__bottom
        img.details-section__bottom-icon(src="images/details-section-bottom-icon.svg" loading="lazy" width="301" height="303" alt="icon")
        .font-w-extra-bold.font-s-30
          | Хотите узнать детали сотрудничества?
        .details-section__bottom-text.font-w-medium.font-s-18
          | Получите договор, в котором описаны наши обязанности 
          br
          | и условия работы с франчайзи
        form.details-section__form(data-feedback-form)
          input.input.details-item(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input.details-item(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn.details-item(type="submit") Получить
        //- .swiper-details
        //-   .details-section__cards.swiper-wrapper
        //-     .details-section__card.swiper-slide
        //-       img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="35" height="35" alt="icon")
        //-       .font-s-18
        //-         | Как вести 
        //-         span.color-gold документооборот
        //-     .details-section__card.swiper-slide
        //-       img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="35" height="35" alt="icon")
        //-       .font-s-18
        //-         | Как 
        //-         span.color-gold хранить цветы
        //-     .details-section__card.swiper-slide
        //-       img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="35" height="35" alt="icon")
        //-       .font-s-18
        //-         | Как расширять 
        //-         br
        //-         span.color-gold клиентскую базу
        //-     .details-section__card.swiper-slide
        //-       img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="35" height="35" alt="icon")
        //-       .font-s-18
        //-         | Как 
        //-         span.color-gold организовать пространство 
        //-         br
        //-         | торговой точки
        //-     .details-section__card.swiper-slide
        //-       img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="35" height="35" alt="icon")
        //-       .font-s-18
        //-         | Как 
        //-         span.color-gold избежать ошибок 
        //-         br
        //-         | на старте
        //-     .details-section__card.swiper-slide
        //-       img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="35" height="35" alt="icon")
        //-       .font-s-18
        //-         | Как всегда 
        //-         span.color-gold быть в курсе 
        //-         br
        //-         span.color-gold новинок 
        //-         | рынка
        //-     .details-section__card.swiper-slide
        //-       img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="35" height="35" alt="icon")
        //-       .font-s-18
        //-         | Как работать 
        //-         br
        //-         span.color-gold с поставщиками
        //-     .details-section__card.swiper-slide
        //-       img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="35" height="35" alt="icon")
        //-       .font-s-18
        //-         | Как и из чего будет 
        //-         br
        //-         | формироваться 
        //-         span.color-gold ваша прибыль
        //-   .details-pagination.swiper-progress-details
        //- .details-section__bottom
        //-   .font-s-22.text-center
        //-     | Запишитесь на 
        //-     span.color-gold тест-драйв
        //-   form.details-section__form(data-feedback-form)
        //-     input.input.details-item(type="text" name="name" autocomplete="off" placeholder="Имя")
        //-     input.input.details-item(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
        //-     button.btn.details-item-btn(type="submit") Получить План
      //- .swiper-details
      //-   .details-section__items.swiper-wrapper
      //-     .details-section__item.swiper-slide
      //-       img.details-section__item-icon(src="images/details-section-item-icon.svg" loading="lazy" width="46" height="34" alt="icon")
      //-       .details-section__items-text.font-w-medium.font-s-28
      //-         | По каким критериям выбрать формат франшизы, который 
      //-         br.no-br
      //-         | подойдет именно вам
      //-     .details-section__item.swiper-slide
      //-       img.details-section__item-icon(src="images/details-section-item-icon.svg" loading="lazy" width="46" height="34" alt="icon")
      //-       .details-section__items-text.font-w-medium.font-s-28
      //-         | Как собрать команду профессионалов и быстро выделиться 
      //-         br.no-br
      //-         | на рынке
      //-     .details-section__item.swiper-slide
      //-       img.details-section__item-icon(src="images/details-section-item-icon.svg" loading="lazy" width="46" height="34" alt="icon")
      //-       .details-section__items-text.font-w-medium.font-s-28
      //-         | Как настроить эффективный маркетинг и привлечь 
      //-         br.no-br
      //-         | внимание первых клиентов
      //-     .details-section__item.swiper-slide
      //-       img.details-section__item-icon(src="images/details-section-item-icon.svg" loading="lazy" width="46" height="34" alt="icon")
      //-       .details-section__items-text.font-w-medium.font-s-28
      //-         | Как правильно выстроить общие процессы бизнеса и 
      //-         br.no-br
      //-         | минимизировать риски
      //-     .details-section__item.swiper-slide
      //-       img.details-section__item-icon(src="images/details-section-item-icon.svg" loading="lazy" width="46" height="34" alt="icon")
      //-       .details-section__items-text.font-w-medium.font-s-28
      //-         | Как быстро развить масштабировать финансовые 
      //-         br.no-br
      //-         | результаты компании
      //-   .details-pagination.swiper-progress-details
      //- .details-section__bottom
      //-   img.details-section__bottom-icon1(src="images/details-section-bottom-icon1.png" loading="lazy" width="267" height="267" alt="icon")
      //-   img.details-section__bottom-icon2(src="images/details-section-bottom-icon2.png" loading="lazy" width="938" height="927" alt="icon")
      //-   form.details-section__form(data-feedback-form)
      //-     input.input.input--shadow-brown.details-item(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
      //-     input.input.input--shadow-brown.details-item(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш телефон")
      //-     button.btn.details-item(type="submit") записаться