footer.footer
  .footer__container
    .footer__brand
      img.footer__logo(src="images/footer-logo.png" loading="lazy" width="278" height="142" alt="logo")
      .footer__brand-name.font-w-regular.font-s-16 © Big Boss, 2024
    a.footer__privacy.font-w-medium.font-s-16(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальности
    .footer__connection
      include ../components/phone-number.pug

        //- .footer__call-me.font-s-14(data-remodal-target="modal-form-call-me") Заказать звонок
