header.header
  .header__container
    .header__brand
      .font-s-18.color-gold «Areta Flowers»
      .font-s-15 Франшиза сети <br> цветочных магазинов
    img.header__logo(src="images/header-logo.png" loading="lazy" width="232" height="234" alt="logo")
    .header__connection
      include ../components/phone-number.pug
      //- .header__call-me.font-s-14(data-remodal-target="modal-form-call-me") Заказать звонок