header.header
  .header__container
    .header__brand
      img.header__logo(src="images/header-logo.png" loading="lazy" width="390" height="302" alt="logo")
      .header__text.font-w-regular.font-s-16 Франшиза <br> детского клуба
    .header__connection
      include ../components/phone-number.pug

      //- .header__call-me.font-s-14(data-remodal-target="modal-form-call-me") Заказать звонок

