section.reasons-section
  .wrapper
    .reasons-section__container
      img.reasons-section__img-flower(src="images/reasons-section-img-flower.png" loading="lazy" width="858" height="817" alt="image")
      img.reasons-section__img-round(src="images/reasons-section-img-round.png" loading="lazy" width="616" height="619" alt="image")
      h2.reasons-section__title.font-w-b-regular.font-s-55
        span.color-gold 4 причины 
        br.no-br
        | открыть ARETA FLOWERS
      .swiper-reasons
        .reasons-section__cards.swiper-wrapper
          .reasons-section__card.reasons-section__card-bg-1.swiper-slide
            img.reasons-section__card-icon(src="images/reasons-section-card-icon-1.svg" loading="lazy" width="47" height="47" alt="icon")
            .reasons-section__card-title.font-w-b-regular.font-s-18.text-up
              | Популярность сферы
            .reasons-section__card-text.font-s-18 Стабильно высокий спрос <br> и широкие возможности
          .reasons-section__card.reasons-section__card-bg-2.swiper-slide
            img.reasons-section__card-image-2(src="images/reasons-section-card-image-2.png" loading="lazy" width="376" height="520" alt="image")
            img.reasons-section__card-icon(src="images/reasons-section-card-icon-2.svg" loading="lazy" width="47" height="47" alt="icon")
            .reasons-section__card-title.font-w-b-regular.font-s-18.text-up
              | Доходность
            .reasons-section__card-text.font-s-18 Большая маржинальность <br> и высокая рентабельность
          .reasons-section__card.reasons-section__card-bg-2.swiper-slide
            img.reasons-section__card-image-3(src="images/reasons-section-card-image-3.png" loading="lazy" width="440" height="487" alt="image")
            img.reasons-section__card-icon(src="images/reasons-section-card-icon-3.svg" loading="lazy" width="47" height="47" alt="icon")
            .reasons-section__card-title.font-w-b-regular.font-s-18.text-up
              | Передаем свой опыт
            .reasons-section__card-text.font-s-18 Надежная и проверенная <br> финансовая модель
          .reasons-section__card.reasons-section__card-bg-2.swiper-slide
            img.reasons-section__card-image-4(src="images/reasons-section-card-image-4.png" loading="lazy" width="468" height="466" alt="image")
            img.reasons-section__card-icon(src="images/reasons-section-card-icon-4.svg" loading="lazy" width="47" height="47" alt="icon")
            .reasons-section__card-title.font-w-b-regular.font-s-18.text-up
              | Реализация возможностей
            .reasons-section__card-text.font-s-18 Самореализация и статус <br> хозяина салона флористики
        .reasons-pagination.swiper-progress-reasons
