section.steps-section
  .wrapper
    .steps-section__container
      img.steps-section__points-1(src="images/steps-section-points.svg" loading="lazy" width="11" height="591" alt="image")
      img.steps-section__points-2(src="images/steps-section-points.svg" loading="lazy" width="11" height="591" alt="image")
      .steps-section__box
        h2.steps-section__title.font-s-35.font-w-b-regular
          | Поможем вам запустить прибыльный бизнес 
          br
          .font-s-55.font-w-b-regular.color-gold за 10 простых шагов
        .steps-section__sub-title.font-s-16.font-w-regular
          | Ознакомьтесь с ключевыми этапами совместной работы
        .swiper-steps
          .steps-section__cards.swiper-wrapper
            .steps-section__card.swiper-slide
              .steps-section__card-num.font-w-b-regular.font-s-36 1 шаг
              .font-s-20 Заключаем договор франшизы
            .steps-section__card.order-3.swiper-slide
              .steps-section__card-num.font-w-b-regular.font-s-36 2 шаг
              .font-s-20 Ищем помещение и подписываем <br> договор аренды
            .steps-section__card.order-5.swiper-slide
              .steps-section__card-num.font-w-b-regular.font-s-36 3 шаг
              .font-s-20 Проводим ремонт и оформляем <br> помещение (при необходимости)
            .steps-section__card.order-7.swiper-slide
              .steps-section__card-num.font-w-b-regular.font-s-36 4 шаг
              .font-s-20 Согласуем и монтируем <br> вывеску
            .steps-section__card.order-9.swiper-slide
              .steps-section__card-num.font-w-b-regular.font-s-36 5 шаг
              .font-s-20 Производим заказ доставку и монтаж <br> оборудования и мебели
            .steps-section__card.order-2.swiper-slide
              .steps-section__card-num.font-w-b-regular.font-s-36 6 шаг
              .font-s-20 Осуществляем поиск персонала
            .steps-section__card.order-4.swiper-slide
              .steps-section__card-num.font-w-b-regular.font-s-36 7 шаг
              .font-s-20 Формируем первичные запасы товара <br> и расходных материалов
            .steps-section__card.order-6.swiper-slide
              .steps-section__card-num.font-w-b-regular.font-s-36 8 шаг
              .font-s-20 Осуществляем настройку рекламы
            .steps-section__card.order-8.swiper-slide
              .steps-section__card-num.font-w-b-regular.font-s-36 9 шаг
              .font-s-20 Проводим обучение персонала
            .steps-section__card.order-10.swiper-slide
              .steps-section__card-num.font-w-b-regular.font-s-36 10 шаг
              .font-s-20.color-beige Открываем точку и начинаем <br> зарабатывать
          .steps-pagination.swiper-progress-steps
      .steps-section__bottom
        img.steps-section__bottom-img(src="images/steps-section-bottom-img.png" loading="lazy" width="652" height="627" alt="image")
        img.steps-section__bottom-arrow(src="images/steps-section-bottom-arrow.png" loading="lazy" width="118" height="171" alt="icon")
        .steps-section__bottom-text.font-w-b-regular.font-s-32
          span.color-gold Работаем строго по договору,
          br
          span.font-w-regular.font-s-18 в котором описаны наши обязанности и все условия сотрудничества
        button.btn.steps-item(data-remodal-target="modal-form-agreement") скачать пример договора
