.header
  &__container
    display: flex
    flex-direction: row
    align-items: center
    justify-content space-between

  &__brand
    display: flex
    flex-direction: row
    align-items: center
    gap: 11px
    color: #d3cde9;

  &__logo
    width 100px
    height: auto
    +above($breakpoints.sm)
      width 150px
    +above($breakpoints.md)
      width 180px
    +above($breakpoints.xxl)
      width 195px

  &__text
    display: none
    +above($breakpoints.sm)
      display: block

  &__connection
    +above($breakpoints.sm)
      display: none
