.main-section
  // background-image: url('../images/main-section-bg.jpg')
  // background-repeat: no-repeat
  // background-position: center
  // background-size: cover
  background-color $color-bg

  &__container
    position relative
    padding 0 0 0 0
    +above($breakpoints.sm)
      padding 0 0 80px 0
    +above($breakpoints.md)
      padding 0 0 100px 0
    +above($breakpoints.xxl)
      padding 0 0 212px 0

  &__title,
  &__sub-title
    text-align: center
    +above($breakpoints.sm)
      text-align: start

  &__sub-title
    padding 10px 0 15px 0
    +above($breakpoints.sm)
      padding 10px 0 20px 0
    +above($breakpoints.md)
      padding 10px 0 25px 0
    +above($breakpoints.xxl)
      padding 10px 0 27px 0

  &__form
    display: flex
    flex-direction: column
    gap: 6px
    align-items: center
    +above($breakpoints.sm)
      align-items: flex-start
    +above($breakpoints.md)
      flex-direction: row

  &__img
    width 300px
    height: auto
    margin 15px auto 0
    +above($breakpoints.sm)
      margin 0
      position: absolute
      width: 450px;
      bottom: 0;
      right: -100px;
    +above($breakpoints.md)
      width: 550px;
      right: -175px;
    +above($breakpoints.xxl)
      width 839px
      right: -300px

.main-item
  width 260px !important
  +above($breakpoints.md)
    width 188px !important
